---
layout: markdown_page
title: "Why Ultimate?"
description: "Ultimate enables enterprises maintain a consistent DevOps experience with a single, scalable interface for end to end DevOps. Learn more!"
canonical_path: "/pricing/ultimate/"
---
<% tier_names = ['Ultimate'] %>

## GitLab Ultimate

GitLab Ultimate is ideal for organizations aiming to optimize and accelerate delivery while managing priorities, security, risk, and compliance.

Available in both SaaS and self-managed deployment options, GitLab Ultimate adds advanced security capabilities, security risk mitigation, compliance, portfolio management and value stream management. In addition, GitLab Ultimate allows for free guest user licenses to improve your license usage for users with minimal interaction with the system.

Please note this is not a comprehensive set of capabilities in GitLab Ultimate, visit [about.gitlab.com/features](https://about.gitlab.com/features/) for the latest. GitLab continuously adds features every month and evaluates features that can be moved to lower tiers to benefit more users.

### GitLab Ultimate helps you

| **Increase Operational Efficiencies** | **Deliver Better Products Faster** | **Reduce Security & Compliance Risk** |
| -- | -- | -- |
| GitLab Ultimate provides a single, scalable interface for organization wide DevSecOps, reducing handoffs across tools and teams - thereby improving efficiencies. | With end to end Value Stream Management and Portfolio Management, GitLab Ultimate allow for greater visibility and transparency across projects - helping to eliminate bottlenecks and deliver products faster. | GitLab Ultimate introduces built-in security testing, compliance and preventive security for cloud native applications helping you manage security risk and achieve regulatory compliance. |


Like [GitLab Premium](/pricing/premium), GitLab Ultimate also includes priority support, live upgrade assistance, and a [Technical Account Manager](/services/customer-success-services/) for eligible customers.

**Read all case studies [here](/customers/)**

<% tier_names.each do |tier_name| %>
<%= "## #{tier_name} features" %>

<% data.pricing_themes.select{|theme| theme.tier == tier_name && !(theme.value_driver == false)}.each do |theme|%>
<%= "### #{theme.name}"%>
{: .alert .alert-gitlab-orange}

<% if (theme.pricing_page_name_tooltip) %>
<%= "**#{theme.pricing_page_name_tooltip}**. Learn more about [**#{theme.name}**](#{theme.theme_page}) with GitLab."%>
<% end %>

<% features = data.features.features.select{|feature| (feature.pricing_theme == theme.name) && (feature[("gitlab_" + tier_name.downcase).to_sym]) }.sort_by{ |feature| feature.pps_aggregate}.reverse %>

| Feature name | Value |
| ----------- | ------------------ |
<% data.features.features.select{|feature| (feature.pricing_theme == theme.name) && (feature[("gitlab_" + tier_name.downcase).to_sym]) }.sort_by{ |feature| feature.pps_aggregate}.reverse.each do |feature| %>
<% next if (feature.gitlab_premium) %>
<%= "| [**#{feature.title}**](#{feature.link}) | #{feature.description.gsub("\n", ' ')} |" %>
<% end %>

<% end %>

<% end %>

## Ultimate features unrelated to a theme

<% tier_names.each do |tier_name| %>
<%= "### #{tier_name}" %>

| Feature name | Value |
| ----------- | ------------------ |
<% data.features.features.select{|feature| (feature.pricing_theme == nil) && (feature[("gitlab_" + tier_name.downcase).to_sym])  && !feature.gitlab_core}.sort_by{ |feature| feature.pps_aggregate}.reverse.each do |feature| %>
<% next if (feature.gitlab_premium) %>
<%= "| [**#{feature.title}**](#{feature.link}) | #{feature.description.gsub("\n", ' ')} |" %>
<% end %>

<% end %>

---

## Changes
This page displays content from [`pricing_themes.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/pricing_themes.yml) and [`features.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/features.yml), changes can be made by proposing adjustments to that file.
